.grid-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto; /* Geändert von 100% auf auto, damit marginLeft Platz wegnimmt */
    flex-grow: 1; 
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    transition-property: margin-left; /* Optional für weichere Bewegung */
    transition-duration: 0.2s;
}

/* Gemeinsame Basis für alle Grid-Items */
.grid-item {
    margin: 8px;
    overflow: hidden;
    flex-grow: 1;    /* WICHTIG: Erlaubt das Auffüllen des Platzes */
    flex-shrink: 1;  /* Erlaubt das Verkleinern */
}

/* 4 Spalten Layout (ca. 25%) */
.col-3 {
    flex-basis: 22%; 
    min-width: 200px; /* Verhindert, dass Karten zu winzig werden */
}

/* 3 Spalten Layout (ca. 33%) */
.col-4 {
    flex-basis: 30%;
    min-width: 250px;
}

/* 2 Spalten Layout (50%) */
.col-6 {
    flex-basis: 45%;
    min-width: 300px;
}

/* Volle Breite */
.col-12 {
    flex-basis: 96%;
    margin-right: 2%;
}

.grid-item Label {
    white-space: normal;
    overflow: hidden;
}

.m-1 {
    margin: 8px;
}

.m-2 {
    margin: 16px;
}

.m-3 {
    margin: 24px;
}

.m-4 {
    margin: 32px;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mt-4 {
    margin-top: 32px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-4 {
    margin-bottom: 32px;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 16px;
}

.ml-3 {
    margin-left: 24px;
}

.ml-4 {
    margin-left: 32px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 16px;
}

.mr-3 {
    margin-right: 24px;
}

.mr-4 {
    margin-right: 32px;
}

.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 16px;
}

.p-3 {
    padding: 24px;
}

.p-4 {
    padding: 32px;
}

.pt-1 {
    padding-top: 8px;
}

.pt-2 {
    padding-top: 16px;
}

.pt-3 {
    padding-top: 24px;
}

.pt-4 {
    padding-top: 32px;
}

.pb-1 {
    padding-bottom: 8px;
}

.pb-2 {
    padding-bottom: 16px;
}

.pb-3 {
    padding-bottom: 24px;
}

.pb-4 {
    padding-bottom: 32px;
}

.pl-1 {
    padding-left: 8px;
}

.pl-2 {
    padding-left: 16px;
}

.pl-3 {
    padding-left: 24px;
}

.pl-4 {
    padding-left: 32px;
}

.pr-1 {
    padding-right: 8px;
}

.pr-2 {
    padding-right: 16px;
}

.pr-3 {
    padding-right: 24px;
}

.pr-4 {
    padding-right: 32px;
}

.unity-label {
}

.pr-all {
    padding: 16px;
}
