#card-kunden-item-template {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#card-kunden-item-template:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(128, 207, 149);
    border-right-color: rgb(128, 207, 149);
    border-top-color: rgb(128, 207, 149);
    border-bottom-color: rgb(128, 207, 149);
}