.content-area {
    flex-grow: 1;
    background-color: rgb(28, 28, 30);
    padding: 40px;
}

.screen-title {
    font-size: 28px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.buchhaltung-list-container{
    width: 100%;
}

.table-header {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
    flex-shrink: 0;
    -unity-text-align: middle-left;
}

.header-label {
    color: rgb(200, 200, 200);
    font-size: 14px;
    -unity-font-style: bold;
}

.col-bezeichnung {
    font-size: 14px;
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 12px; /* Ersetzt das Zeilen-Padding elegant im Grid */
}

.col-erstellt {
    font-size: 14px;
    width: 20%;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
}

.col-faellig {
    font-size: 14px;
    width: 15%;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-right: 15px;
}

.col-status {
    width: 15%;
    flex-grow: 0;
    flex-shrink: 1;
    box-sizing: border-box;
    align-items: flex-start; /* Hält Header-Text und Container-Inhalt linksbündig */
}