.cards {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    width: 33%;
    shrink: 1;
    grow: o;
}

.Label1 {
    -unity-font-definition: url("project://database/Assets/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=3621564315749d341aeb8593daa0ea7f&type=3#Poppins-Bold");
    font-size: 26px;
    color: rgb(255, 255, 255);
}

.preis {
    flex-grow: 1;
    flex-direction: row;
}

.buttons {
    flex-grow: 1;
    height: 38px;
}
