.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 20px 40px;
    width: 100%;
}

.left-text-group {
    display: flex;
    flex-direction: column;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    -unity-font-style: bold;
    margin-bottom: 4px;
}

.header-subtitle {
    color: rgb(136, 136, 136);
    font-size: 14px;
}

.create-button {
    background-color: rgb(92, 203, 130);
    color: rgb(255, 255, 255);
    font-size: 16px;
    -unity-font-style: bold;
    padding: 12px 24px;
    border-radius: 12px;
    border-width: 0;
    transition-property: background-color, scale;
    transition-duration: 0.1s;
}

.create-button:hover {
    background-color: rgb(75, 186, 113);
    cursor: link;
}

.create-button:active {
    scale: 0.96;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
}

.category-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 650px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 18px;
    box-sizing: border-box;
}

.card-left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    box-sizing: border-box;
}

.card-left-info Image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.card-left-info Label {
    color: rgb(255, 255, 255);
    font-size: 28px;
    -unity-font-style: bold;
    text-align: center;
    white-space: normal;
}

.card-right-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 58%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.sub-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 47%;
    background-color: rgb(44, 44, 46);
    border-radius: 16px;
    padding: 12px;
    box-sizing: border-box;
}

.sub-tile Label {
    color: rgb(255, 255, 255);
    font-size: 14px;
    -unity-text-align: middle-center;
    text-align: center;
    white-space: normal;
    margin: 0;
    padding: 0;
}

.plus-button-text {
    font-size: 110px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    opacity: 1;
}


