:root {

}

.Key-button {
    background-color: rgb(128, 207, 149);
    font-size: 30px;
    color: white;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
    border-radius: 8px;
    border-width: 0;
    padding: 10px 20px;
}

.ueberschrift {
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 90px;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}

.Profilname {
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    font-size: 52px;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}

.Ueberschrift2 {
    color: #80CF95;
    -unity-text-align: middle-center;
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}

.text {
    color: #AEAEAE;
    -unity-text-align: middle-center;
    font-size: 26px;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}

.text2 {
    color: #AEAEAE;
    -unity-text-align: middle-center;
    font-size: 32px;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}