:root {
}

.button {
    border-top-width: 64px;
    border-left-width: 50px;
    margin-top: 15px;
}

.unity-radio-button {
    border-top-width: 0;
    text-overflow: ellipsis;
    font-size: 30px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    align-items: center;
    align-content: auto;
    align-self: flex-start;
    justify-content: flex-start;
}
