:root {
    background-color: rgb(56, 56, 56);
}

.FirmenName {
    font-size: 96px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}

.Slogan {
    font-size: 36px;
    color: rgb(63, 181, 94);
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Frontend/Fonts/Poppins-Bold.ttf?fileID=12800000&guid=bd89cb14730400b4bbcff7e0926565fc&type=3#Poppins-Bold");
}
